package home

import "github.com/somuthink/pics_journal/core/internal/views"
import "github.com/somuthink/pics_journal/core/internal/models"
import "github.com/somuthink/pics_journal/core/internal/views/components"

templ Home(inputs []models.Input) {
	<div class="flex flex-col   gap-4" hx-ext="ws" ws-connect="/sock/seek">
		<div class="flex flex-col">
			for _, input := range inputs {
				@components.Input(input)
			}
		</div>
		<input ws-send class="border-block" type="text"/>
		<div id="llm-result" hx-swap-oob="morphdom"></div>
	</div>
}

templ HomeIndex(inputs []models.Input) {
	@views.Base(Home(inputs))
}
